@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$primary: #c6b4e0;
$primary-dark: #1e1629;
$dark: #191919;
$secondary: #afd275;
$complimentary: #ff5555;

:root,
p {
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: $secondary;
}

body {
  align-items: center;
  display: grid;
  justify-content: center;
}

main {
  text-align: center;
}

.cell {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  display: grid;
  align-items: center;
  justify-items: center;
}

.table-border {
  outline: 1px solid black;
}

.main-table {
  display: flex;
  flex-direction: row;
  outline: 2px solid black;
}

.main-col {
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  .left-side {
    display: flex;
    flex-direction: column-reverse;
    .constraints {
      flex-direction: column;
      .constraints-row {
        flex-direction: row;
      }
    }
  }
  .right-side {
    .constraints {
      .constraints-row {
        margin-top: auto;
      }
    }
  }
}

.corner {
}

.constraints {
  display: flex;
  .constraints-row {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

.unset {
  background-color: $secondary;

}

.empty {
  background-color: $secondary;
}

.highlighted {
  background-color: $primary;
}
.highlighted.filled {
  background-color: $dark;
}
.filled {
  background-color: $dark;
}

.btn {
  background-color: #afd275;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 0px 20px 0px 20px;
  border: none;
}

.solve-btn {
  margin-top: 20px;
}
